:root{
  --main-header-color: #17176e;
  --nav-background-color: #ffffff;
  --nav-text-color: #000000;
  --main-text-color: #ffffff;
  --main-heading-color: #757efa;
  --main-background-color: #0a0514;
  --button-border-color: #ffffff;
  --button-background-color: #000000;
  --button-text-color: #ffffff;
  --button-trans-background: #dbdbdb;
  --button-trans-color: #000;
  --icon-size: 3rem;
  --link-color: #fffb00;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--main-background-color);
  color: var(--button-text-color)
}

#top-arrow{
  color:var(--button-text-color);
  font-size: 2rem;
  margin: 4em 0 0 1em;
  position: sticky;
  top: 10px;
}
i{
  font-size: var(--icon-size);
}
.main {
  display: flex;
  flex-direction: column;
  color: var(--main-text-color);
  height: 100%;
}
.hidden {
  display: none;
}
a{
  text-decoration: none;
  color: var(--main-text-color);
}
a:visited {
  text-decoration: none;
}

/* Side Navigation bar section */
.nav-container{
  background-color: var(--nav-background-color);
  color: var(--nav-text-color);
  width: 20vw;
  min-height: 100vh;
  padding: 2% 2%;

  display: flex;
  flex-direction: column;
  justify-content:space-between;

  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
}
.nav-items{
  width: 85%;
}

.nav-picture{
  width: 18vw;
  border-radius: 65%;
  -webkit-border-radius: 65%;
  -moz-border-radius: 65%;
  -ms-border-radius: 65%;
  -o-border-radius: 65%;
}

.nav-title{
  font-size: 1.1rem;
}

.nav-links{
  display: flex;
  flex-direction: column;

  width: fit-content;
}
.nav-links i {
  font-size: 2rem;
}
.nav-links a{
  text-decoration: none;
  color: var(--button-background-color);
}
.nav-links a:visited {
  text-decoration: none;
  color: var(--main-background-color);

}

.nav-about-container{
  font-size: 1.2rem;
}
.main{
  margin-left: 15vw;
}
/* Projects */

.project-section{
  display: flex;
  flex-direction: column;
}
.project-section-title{
  font-size: 3rem;
}

.project{
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.project-title{
  font-size: 2rem;
}
.project-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
  
}

.project-links a {
  color: var(--link-color);
}

/* Contact Me */


@media only screen and (max-width: 1000px) {

}